
body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    overflow: hidden;
}
.sideBar{
    height: 100vh;
    width: 18vw;
}

.sideMenu-top{
    height: 15%;
}

.project{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 3px;
}


.sideMenu-middle{
    height: 60%;
    line-height: 34px;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    display: flex;
    align-items: center;
}
.sideMenu-middle ul{
    padding: 10px 15px;
    
}
.sideMenu-middle ul li{
    list-style-type: none;
    border-radius: 5px;
    padding: 0 5px;
    
}

.SideMenu-list{
    display: block;
    text-decoration: none;
    color: #333;
    width: 100%;
}
.sideMenu-middle ul li:hover {
    background-color: lightgray; 
}
.sideMenu-middle ul li:active {
    background-color: lightgray; 
}
.setting{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.setting-sub{
    padding-left: 25px;
}
.sideMenu-bottom{
    height: 20%;
    position: fixed;
    bottom: 0;
}
.help{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
    padding-right: 15px;
}

.question-icon{
    font-size: 26px;
    margin: 15px;
}
.help p{
    font-size: 20px;
}
.profile{
    background-color: lightgray;
    display: flex;
    align-items: center;
    margin: 8px;
    padding: 10px;
    border-radius: 3px;
    line-height: 10px;
}
.profile > img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-right: 10px;
}
.profile-name {
    overflow: hidden;
}
.profile-name p{
    font-size: 14px;
}
.rgtArrow, .downArrow{
    font-size: 22px;
    place-items: end;
}
