.loginPage-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #ccc;
}
.loginPage-sidemenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 10%;
  height: 100vh;
  border-right: 2px solid #b4b2b2;
}
.loginPage-sidemenu-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginPage-sidemenu-helpandProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loginPage-sidemenu-helpimg {
  width: 40px;
}
.loginPage-sidemenu-profile {
  background-color: #fff;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.loginPage-sidemenu-logo-img {
  border: 2px solid;
  padding: 5px 10px;
  margin: 1rem 0;
  background-color: #fff;
  width: 120px;
}
.loginPage-contents {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginPage-card {
  background-color: #fff;
  width: 650px;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #7e7c7c;
}
.custom-form {
  display: flex;
  flex-direction: column;
  padding: 50px;
}
.form-texts {
  margin-bottom: 2rem;
}
.form-texts-heading {
  font-size: 35px;
}
.form-texts-para {
  margin-top: 1rem;
  font-size: 20px;
}
.form-group {
  margin-bottom: 1rem;
}
.form-label {
  margin-bottom: 0.5rem;
  font-size: 20px;
}
.form-input {
  width: 97%;
  padding: 0.5rem;
  border: 1px solid #000;
  border-radius: 4px;
}
.create-button {
  align-self: flex-end;
  width: 100px;
  padding: 0.5rem;
  font-size: 20px;
  background-color: #007bff;
  color: white;
  border: 2px solid #000;
  border-radius: 4px;
  cursor: pointer;
}
.create-button:hover {
  background-color: #0056b3;
}
